<h2 class="login-title">Вход через социальные сети:</h2>
<ul class='oauthiconsbig'>
<li class='oauthiconsbig vkontakte'>
    <a class='oauthiconsbig vkontakte' href='/ucp.php?mode=login&login=external&oauth_service=vkontakte'></a>
</li>
<li class='oauthiconsbig facebook'>
    <a class='oauthiconsbig facebook' href='/ucp.php?mode=login&login=external&oauth_service=facebook'></a>
</li>

<li class='oauthiconsbig gpplus'>
    <a class='oauthiconsbig gpplus' href='/ucp.php?mode=login&login=external&oauth_service=google'></a>
</li>

</ul>